/******* GENERAL AND UTILITY *******/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a, a:visited, a:hover, a:active { color:white; }
a{text-decoration: none;}

body.debug{
    background-color: rgb(145, 42, 16);
}

.posRelative{position: relative;}

.flex{display: flex;}
.justifyCenter{justify-content: center;}
.justifySpaceBetween{justify-content: space-between;}
.alignItemsCenter{align-items: center;}
.alignFlexStart{align-items: flex-start;}
.alignFlexEnd{align-items: flex-end;}
.directionColumn{flex-direction: column;}

.textAlingCenter{text-align: center;}

.padY{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padY2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pad2{padding: 2rem;}
.gap2{gap: 2rem;}
.gap{gap: 1rem;}


.row{display: flex;
    flex-wrap: wrap;}

.primaryColor{background-color: #0084fd;}
.secondaryColor{background-color: #9792e4;}
.whiteColor{background-color: white;}

.txtWhite{color: white;}
.txtSecondary{color: #9792e4;}
.txtOrange{color: #fdc15f;}
.txtGrey{color: rgba(107, 106, 106, 0.637);}

.myButton {
	box-shadow: 2px 2px 0px 0px #c4c4c4;
	background:linear-gradient(to bottom, #f7faf8 5%, #e8e8e8 100%);
	background-color:#f7faf8;
	border-radius:100px;
	border:1px solid #c9c9c9;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	padding:6px 15px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e8e8e8 5%, #f7faf8 100%);
	background-color:#e8e8e8;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton.CBlue{
    background:linear-gradient(to bottom, #0083fd 5%, #329efc 100%);
	background-color:#0083fd;
    color:#ffffff;
    box-shadow: 2px 2px 0px 0px #0467bd;
    border:1px solid #0a6fc7;
}
.myButton.CBlue:hover {
	background:linear-gradient(to bottom, #329efc 5%, #0083fd 100%);
	background-color:#329efc;
}

.myButton.CSecondary{
    box-shadow: 3px 4px 0px 0px #807be0;
	background:linear-gradient(to bottom, #9792e4 5%, #a7a3e6 100%);
	background-color:#9792e4;
	border-radius:15px;
	border:1px solid #9792e4;
}
.myButton.CSecondary:hover {
	background:linear-gradient(to bottom, #a7a3e6 5%, #9792e4 100%);
	background-color:#a7a3e6;
}

.myButton.bottomBut{
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ffffff 5%, #e6e6e6 100%);
	background-color:#ffffff;
	border-radius:25px;
	border:1px solid #cccccc;
    padding:15px 60px;
}
.myButton.bottomBut:hover {
	background:linear-gradient(to bottom, #e6e6e6 5%, #ffffff 100%);
	background-color:#e6e6e6;
}
.myButton.bottomBut>a{
    color: #000000;
}

img{
    width: 100%;
    display: block;
}
h2{font-size: 1.5rem;}
h3{font-size: 1.25rem;}
p{font-size: 1rem;}
.FS1_3{font-size: 1.3rem;}
/******** HEADER **********/

header{
    width: 100%;}

.navbar{display: none;}

.hamb {font-size: 2rem;}

.boxed{
    max-width: 600px;
    margin: 0 auto;
}

header .navbar button>a {color: black;}
header .navbar a:hover{color: #5044fd;}

/************** MAIN **********/
.hero{
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.hero .card{
    background-color: #b5ddff;
}

.hero .myButton i{
    padding-right: 1rem;
    font-size: 1rem;
}
.hero i{
    font-size: 5rem;
}
.hero .myButton.CBlue{
    padding: 0.3rem 2rem;
}

.hero .card:first-child .card-content:last-child
{width: 50%;}

.hero h3{color: #0084fd;}
.card{
    width: 100%;
    border-radius: 40px;
}

.card-content{
    width: 100%;
}

.plan .whiteColor .card-content:first-child img{
    width: 50%;
}

.arrowBut{
    border-radius: 100px;
    padding: 1rem 1.2rem;
    border: none;
    background-color: #9792e4;
}

.picture{
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1;
}

.violetText{color: #9792e4;}

.testimonial1{
    background-image: url(../img/testimonial1.jpg);
}
.testimonial2{
    background-image: url(../img/testimonial2.jpg);
}
.testimonial3{
    background-image: url(../img/testimonial3.jpg);
}

.FS1_3 h2{font-size: 1.5em;}
.FS1_3 h3{font-size: 1.25em;}
.FS1_3 p{font-size: 1em;}

.FS2 {font-size: 2rem;}
.FS2 h2{font-size: 2em;}
.FS2 h3{font-size: 1.25em;}
.FS2 h4{font-size: 1em;}

.aboutImg{
    background-image: url(../img/about.jpg);
}

.aboutUs .picture{
    width: 70%;
}

.gigaNumber{font-size: 4rem;}

.WWU .myButton.CSecondary{
    padding: 0.3rem 2rem;
}

.bigQuote{
    font-size: 3rem;
    color: #9792e4;
    position: absolute;
    right: 33%;
}
/********* FOOTER *********/
footer{
    background-color: #222;
    color: white;
}

footer p:first-child{
    padding-bottom: 4rem;
}

/****** MEDIA QUERY TABLET  *******/
@media screen and (min-width: 769px) {
    /*** utility e debug***/
    body.debug{
        background-color: rgb(4, 128, 0);
    }
    .boxed{
        max-width: 800px;
    }
    /****main hero plan e testimonials****/
    .hero .card{
        width: calc((100% / 3) - (4rem / 3));
    }
    .hero .card:first-child{
        width: calc( ( (100%/3)*2) - (0.669rem))
    }
    .testimonials .row .card-content:first-child{
        width: calc(20% - 1rem);
    }
    .testimonials .row .card-content:last-child{
        width: calc(80% - 1rem);
    }
    /* .picture{
        width: 30%;
    } */
    /****benefits e about us****/
    .benefits .card{
        width: calc(50% - 1rem);
    }
    .aboutUs .card:first-child{
        width: calc(70% - 2rem);
    }
    .aboutUs .card{
        width: 30%;
    }
}

/****** MEDIA QUERY desktop *******/
@media screen and (min-width: 992px) {
    /*** utility e debug***/
    body.debug{
        background-color: rgb(16, 119, 145);
    }
    .boxed{
        max-width: 1000px;
    }
    /**** header****/
    .hamb{
        display: none;
    }
    .navbar{
        display: inherit;
    }
    /****main hero plan e testimonials****/
    .plan .card{
        width: calc(50% - 1rem);
    }
    .hero .card:first-child .card-content{
        width: 50%;
    }
    /****benefits ****/
    .benefits .card{
        width: calc((100% / 3) - (4rem / 3));
    }

}

/****** MEDIA QUERY large desktop *******/
@media screen and (min-width: 1201px) {
    /*** utility e debug***/
    body.debug{
        background-color: rgb(18, 16, 145);
    }
    .boxed{
        max-width: 1300px;
    }
}



/*********** DEBUG **********/
.debugYellow{background-color: yellowgreen;}
.debugGreen{background-color: green;}
.debugHeight1{height:200px}
.debugHeight2{height:300px}
.debugHeight3{height:400px}
