/******* GENERAL AND UTILITY *******/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.debug{
    background-color: rgb(145, 42, 16);
}

.flex{display: flex;}

.justifySpaceBetween{justify-content: space-between;}
.alignItemsCenter{align-items: center;}

.pad05{padding: 0.5rem;}

.gap{gap: 0.5rem;}

.row{display: flex;
    flex-wrap: wrap;}

/******** HEADER **********/

header{background-color: #0084fd;
    width: 100%;}

.navbar{display: none;}

.hamb {font-size: 2rem;}

.boxed{
    width: 90%;
    margin: 0 auto;
}

/************** MAIN **********/
.hero{
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/****** MEDIA QUERY TABLET *******/
@media screen and (min-width: 481px) and (max-width: 768px) {
    body.debug{
        background-color: rgb(157, 165, 42);
    }
    /* .boxed{
        width: 90%;
    } */
}

/****** MEDIA QUERY desktop *******/
@media screen and (min-width: 769px) and (max-width: 992px) {
    body.debug{
        background-color: rgb(4, 128, 0);
    }
    /* .boxed{
        width: 90%;
    } */
    .hamb{
        display: none;
    }
    .navbar{
        display: inherit;
    }
}

/****** MEDIA QUERY large desktop *******/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body.debug{
        background-color: rgb(16, 119, 145);
    }
    .hamb{
        display: none;
    }
    .navbar{
        display: inherit;
    }
    .boxed{
        max-width: 1100px;
    }
}

/****** MEDIA QUERY  very large desktop *******/
@media screen and (min-width: 1201px) {
    body.debug{
        background-color: rgb(18, 16, 145);
    }
}

/*********** DEBUG **********/
.debugYellow{background-color: yellowgreen;}
.debugHeight1{height:200px}
.debugHeight2{height:300px}
.debugHeight3{height:400px}
